body, html{
    margin: 0;
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 18px;
}
.chat {
    width: 100%;
}
.chat__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 42px);
}
.chat__list-item{
    padding: 10px;
    font-size: .9em;
}
.chat__list-item:nth-child(odd) {
    background: #f5f5f5
}
.chat__input{
    font-family: "Open Sans";
    padding: 10px;
    font-size: 18px;
}
.chat__input::-webkit-input-placeholder { 
    font-weight: bold;
    font-size: 18px;
}
.chat__input_sticky{
    position: sticky;
    bottom: 0;
    width: -webkit-fill-available;
    width: -moz-available;
}
.chat__input_modal{
    border-radius: 10px;
    border: 3px solid skyblue;
    outline: none;
    width: 245px;    
}
.chat__overlay{
    background: rgb(228, 216, 147);
    position: fixed;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    z-index: 2;
}
.chat__modal{
    background: #fff;
    width: 270px;
    position: absolute;
    top: 20%;
    left: calc(50% - 155px);
    padding: 20px;
    border-radius: 15px;
}
/* animation */
.fade-in-enter-active {
    transition: 2.5s ease-out;
}
.fade-in-leave-active, .fade-in-leave {
    transition: 0.5s ease-out;
    opacity: 0;
    position: absolute;
    
}
.fade-in-enter,
.fade-in-leave-to {
    opacity: 0;
    
}
.fade-in-move{
    
    transition: 2.5s ease-out;
}